{% extends "store/base.html" %} {% block content %}
<div class="card">
  <h5 class="card-header">Borderless Table</h5>
  <div class="table-responsive text-nowrap">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>#</th>
          <th>Product Code</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Category</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in products" :key="index">
          <td>[{index+1}]</td>
          <td>[{item.product_code}]</td>
          <td>[{item.product_name}]</td>
          <td>[{item.product_price}]</td>
          <td>[{item.product_category}]</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  const { createApp, computed } = Vue;
  const App = createApp({
    delimiters: ["[{", "}]"],
    data() {
      return {
        products: null,
      };
    },
    mounted() {
      axios({
        method: "get",
        url: "{% url 'product-shop-api' %}",
      }).then((response) => {
        if (response.data["status"]) {
          this.products = response.data["data"];
        }
      });
    },
  });
  App.mount("#app");
</script>

{% endblock script %}
